In [1]:
import pandas as pd

# Read the CSV file
df = pd.read_csv('Main.csv')

# Remove identical rows
df = df.drop_duplicates()

# Display the cleaned DataFrame
df.head()

,Grade,Tensile Strength (MPa),Yield Strength (MPa),Elongation in 50 mm (%),Reduction in Area (%),HV (GPa),"Carbon, C","Chromium, Cr","Iron, Fe","Manganese, Mn",...,"Phosphorus, P","Silicon, Si","Sulfur, S","Molybdenum, Mo","Boron, B","Titanium, Ti",Nb,Ta,"Lead, Pb","Vanadium, V"
0,347,655.0,275.0,45.0,45.8,9.203853,0.080,17.000,68.0000,2.000,...,0.045,1.000,0.03,NaN,NaN,NaN,0.4,0.4,NaN,NaN
2,347,620.0,240.0,50.0,65.0,15.494393,0.080,17.000,68.0000,2.000,...,0.045,1.000,0.03,NaN,NaN,NaN,0.4,0.4,NaN,NaN
4,384,690.0,450.0,40.0,60.0,20.530071,0.080,16.000,63.0000,2.000,...,0.045,1.000,0.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,384,515.0,240.0,55.0,72.0,7.786422,0.080,16.000,63.0000,2.000,...,0.045,1.000,0.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,304,585.0,235.0,60.0,70.0,14.429154,0.505,0.525,97.8307,0.875,...,0.035,0.225,0.04,NaN,0.0018,NaN,NaN,NaN,NaN,NaN

In [2]:
df.to_csv('Main.csv', index=False)